  <footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Arun Dhaduti</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Arun Dhaduti</li><li><a class="u-email" href="mailto:arundhaduti@gmail.com">arundhaduti@gmail.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/arundhaduti"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">arundhaduti</span></a></li><li><a href="https://www.linkedin.com/in/arundhaduti"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">arundhaduti</span></a></li><li><a href="https://www.twitter.com/aron046"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">aron046</span></a></li><li><a href="https://dev.to/arundhaduti" >
  <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Arun Dhaduti's DEV Profile" height="30" width="30">
</a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>Personal blog for everything that I want to write about - work, travel, music, life. Subscribe if you like it, email me if you don&#39;t.</p>
      </div>
    </div>
	<div>
      <p class="copyright" style="font-size:11px;text-align:center">
         <a href="{{site.github.url | prepend: site.baseurl}}/" title="{{ site.title }}">{{site.title}}</a> &copy; {{ site.time | date: '%Y' }} &middot; <a href="{{site.github.url | prepend: site.baseurl}}/">Home</a>  &middot; <a href="{{site.github.url | prepend: site.baseurl}}/about/">About</a>
      </p>
    </div>

  </div>
  
<!--Scroll to top code https://github.com/vfeskov/vanilla-back-to-top-->
<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 56,
  backgroundColor: 'rgb(145, 145, 145)',
  textColor: '#fff'
})</script>

</footer>